<template>
  <div>
    <v-col
      style="width: 100%; background: #fff; border-radius: 5px; color: #000"
    >
      <h2>Edit Member</h2>
      <v-form>
        <v-col style="max-width: 500px">
          <v-text-field label="Username"></v-text-field>
        </v-col>
        <v-col>
          <v-row>
            <v-col style="max-width: 500px">
              <v-text-field label="Password"></v-text-field>
            </v-col>
            <v-col style="max-width: 500px">
              <v-text-field label="Password Confirm"></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        <v-col style="max-width: 500px">
          <v-text-field label="Telephone Number"></v-text-field>
        </v-col>
        <v-col style="max-width: 500px">
          <v-text-field label="Line ID"></v-text-field>
        </v-col>
        <v-col style="max-width: 500px">
          <v-text-field label="Agent"></v-text-field>
        </v-col>
        <v-col style="max-width: 500px">
          <v-text-field label="Account Name"></v-text-field>
        </v-col>
        <v-col style="max-width: 500px">
          <v-text-field label="Bank Account(number)"></v-text-field>
        </v-col>
        <v-col>
          <h3 style="text-decoration: underline">Star</h3>
          <v-row>
            <v-col style="max-width: 300px">
              <v-text-field label="Min Bet"></v-text-field>
            </v-col>
            <v-col style="max-width: 300px">
              <v-text-field label="Max Bet"></v-text-field>
            </v-col>
          </v-row>
          <h3 style="text-decoration: underline">SA Gaming</h3>
          <v-row>
            <v-col style="max-width: 300px">
              <v-text-field label="Min Bet"></v-text-field>
            </v-col>
            <v-col style="max-width: 300px">
              <v-text-field label="Max Bet"></v-text-field>
            </v-col>
          </v-row>
          <h3 style="text-decoration: underline">Sbobet</h3>
          <v-row>
            <v-col style="max-width: 300px">
              <v-text-field label="Min Bet"></v-text-field>
            </v-col>
            <v-col style="max-width: 300px">
              <v-text-field label="Max Bet"></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-form>
    </v-col>
  </div>
</template>
<script>
export default {
  data() {
    return {}
  },
  methods: {},
}
</script>
<style>
label {
  color: #000 !important;
}
.v-input__slot::before {
  border-color: #000 !important;
}
</style>
