<template>
  <div>
    <v-row style="padding: 10px">
      <v-col><h2>Add Cash</h2></v-col>
      <v-col style="text-align: right">
        <v-btn color="success" > <strong style="color:#fff;">NEW MEMBERS</strong></v-btn>
      </v-col>
    </v-row>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :items-per-page="15"
      loading-text="Loading... Please wait"
      class="elevation-1"
    >
      <!-- <template #top>
        <v-text-field
          v-model="search"
          label="Search"
          class="mx-4"
        ></v-text-field>
      </template> -->
      <template #[`item.actions`]>
        <nuxtLink to="/add-cash/edit-member">
          <v-icon
            style="background: grey; border-radius: 50%; padding: 6px"
            color="#fff"
            small
            circle
            class="mr-2"
          >
            mdi-pencil
          </v-icon>
        </nuxtLink>
        <nuxtLink to="/add-cash/edit-member">
          <v-icon
            style="background: red; border-radius: 50%; padding: 6px"
            color="#fff"
            small
            class="mr-2"
          >
            icofont-plus-square
          </v-icon>
        </nuxtLink>
      </template>
      <template #[`item.wallet`]>
        0.00
        <v-dialog v-model="dialog" width="1000">
          <template #activator="{ on, attrs }">
            <v-icon
              style="background: green; border-radius: 50%; padding: 6px"
              color="#fff"
              small
              circle
              class="mr-2"
              v-bind="attrs"
              v-on="on"
            >
              icofont-dollar
            </v-icon>
          </template>
          <v-card>
            <v-card-title style="background: green">
              Deposit
              <v-col style="padding: 0">
                <v-btn
                  style="float: right"
                  color="primary"
                  text
                  @click="dialog = false"
                >
                  <v-icon color="#fff">icofont-close-squared-alt</v-icon>
                </v-btn>
              </v-col>
            </v-card-title>
            <v-col style="padding: 20px; background: #fff">
              <v-row>
                <v-col
                  lg="3"
                  cols="12"
                  xs="12"
                  style="width: 100%; max-height: 200px; padding: 10px"
                >
                  <v-col
                    style="
                      background: #483d8b;
                      border-radius: 5px;
                      height: 150px;
                    "
                  >
                    <h4 style="margin-bottom: 10px">
                      <v-icon>icofont-user-alt-5</v-icon>
                      Username
                    </h4>
                    <h2 style="margin-bottom: 20px">Usernametest</h2>
                    <p>2021-09-13 11:50:19</p>
                  </v-col>
                </v-col>
                <v-col
                  lg="3"
                  cols="12"
                  xs="12"
                  style="width: 100%; max-height: 200px; padding: 10px"
                >
                  <v-col
                    style="
                      background: #ff4242;
                      border-radius: 5px;
                      height: 150px;
                    "
                    ><h4 style="margin-bottom: 10px">
                      <v-icon>icofont-user-alt-5</v-icon>wallet
                    </h4>
                    <h2 style="margin-bottom: 20px">0.00 THB</h2>
                  </v-col>
                </v-col>
                <v-col
                  lg="3"
                  cols="12"
                  xs="12"
                  style="width: 100%; max-height: 200px; padding: 10px"
                >
                  <v-col
                    style="
                      background: #1e90ff;
                      border-radius: 5px;
                      height: 150px;
                    "
                    ><h4 style="margin-bottom: 10px">
                      <v-icon>icofont-user-alt-5</v-icon>turnover
                    </h4>
                    <h2 style="margin-bottom: 20px">0.00 THB</h2>
                  </v-col>
                </v-col>
                <v-col
                  lg="3"
                  cols="12"
                  xs="12"
                  style="width: 100%; max-height: 200px; padding: 10px"
                >
                  <v-col
                    style="background: green; border-radius: 5px; height: 150px"
                    ><h4 style="margin-bottom: 10px">
                      <v-icon>icofont-user-alt-5</v-icon>bank
                    </h4>
                    <h2 style="margin-bottom: 20px">0658779987</h2>
                    <p>นายเจมส์ วสัน</p>
                  </v-col>
                </v-col>
              </v-row>
              <v-form>
                <v-text-field
                  label="Amount"
                  style="margin: 20px 0 20px 0"
                ></v-text-field>
                <v-text-field
                  label="Min Bet"
                  style="margin-bottom: 20px"
                ></v-text-field>
                <v-text-field
                  label="Max Bet"
                  style="margin-bottom: 10px"
                ></v-text-field>
                <strong style="color:#000;font-size:1.5rem;">Remark</strong>
                <Editor />
                <v-btn color="success" style="margin-top:20px;">เติมเงิน</v-btn>
              </v-form>
            </v-col>
          </v-card>
        </v-dialog>
      </template>
    </v-data-table>
  </div>
</template>
<script>
import Editor from '~/components/editor'
export default {
  components: {
    Editor,
  },
  data() {
    return {
      dialog: false,
      headers: [
        {
          text: 'Username',
          value: 'username',
        },
        { text: 'Account name', value: 'account' },
        { text: 'Blank Acc', value: 'blank' },
        { text: 'Wallet', value: 'wallet' },
        { text: 'Win loss', value: 'winloss' },
        { text: 'Win loss slot', value: 'winlossslot' },
        { text: 'T.Casino', value: 'casino' },
        { text: 'T.Slot', value: 'slot' },
        { text: 'T.Sport', value: 'sport' },
        { text: 'Commission', value: 'commision' },
        { text: 'Register Date', value: 'registerdate' },
        { text: 'Actions', align: 'center', value: 'actions' },
      ],
      desserts: [
        {
          username: 'Star001',
          account: 159,
          blank: 6.0,
          wallet: 24,
          winloss: 4.0,
          winlossslot: '1%',
          casino: '1%',
          slot: '1%',
          sport: '1%',
          commision: '1%',
          registerdate: '1%',
        },
        {
          username: 'Star002',
          account: 159,
          blank: 6.0,
          wallet: 24,
          winloss: 4.0,
          winlossslot: '1%',
          casino: '1%',
          slot: '1%',
          sport: '1%',
          commision: '1%',
          registerdate: '1%',
        },
        {
          username: 'Star003',
          account: 159,
          blank: 6.0,
          wallet: 24,
          winloss: 4.0,
          winlossslot: '1%',
          casino: '1%',
          slot: '1%',
          sport: '1%',
          commision: '1%',
          registerdate: '1%',
        },
      ],
    }
  },
}
</script>
<style>
label {
  color: #000 !important;
}
.v-input__slot::before {
  border-color: #000 !important;
}
.v-btn--icon.v-size--small .v-icon,
.v-btn--fab.v-size--small .v-icon {
  color: #000;
}
.v-btn__content {
  color: #000 !important;
}
.tiptap-vuetify-editor__content {
  height: 250px;
}
</style>
