<template>
  <div>
    <h2 style="text-transform: uppercase; color: #fff; font-size: 2em">
      {{ $route.params.company }}
    </h2>
    <v-dialog v-model="dialog" width="500">
      <template #activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          style="float: right"
          v-bind="attrs"
          v-on="on"
        >
          <span style="color: #fff"
            ><i class="icofont-plus mr-1"></i> ADD GAME</span
          >
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="text-h5 blue"> ADD GAME </v-card-title>

        <v-card-text>
          <v-form style="border: 2px solid #000; padding: 15px; width: 100%">
            <v-text-field
              v-model="create.name"
              label="Name"
              :rules="addrules"
              required
            ></v-text-field>
            <v-text-field
              v-model="create.dtgame"
              label="DesktopGameId"
              :rules="addrules"
              required
            ></v-text-field>
            <v-text-field
              v-model="create.mbgame"
              label="MobileGameId"
              :rules="addrules"
              required
            ></v-text-field>
            <v-text-field
              v-model="create.dtgid"
              label="DesktopGid"
              :rules="addrules"
              required
            ></v-text-field>
            <v-text-field
              v-model="create.mbgid"
              label="MobileGid"
              :rules="addrules"
              required
            ></v-text-field>
            <v-checkbox
              v-model="create.isdelete"
              label="isDeleted"
              required
            ></v-checkbox>
            <v-checkbox v-model="create.isnew" label="isNewGame"></v-checkbox>
            <v-checkbox v-model="create.ishot" label="isHotGame"></v-checkbox>
            <v-file-input v-model="create.image" label="Image"></v-file-input>
            <v-btn
              style="color: #fff; border-radius: 0; background: #000"
              @click="sendGame()"
              ><span style="color: #fff">Create</span></v-btn
            >
          </v-form>
        </v-card-text>

        <v-divider></v-divider>
      </v-card>
    </v-dialog>
    <v-col style="padding: 16px 0 16px 0">
      <v-data-table
        :header-props="{ sortIcon: null }"
        :headers="headers"
        :items="passengers"
        :page="page"
        :page-count="numberOfPages"
        :options.sync="options"
        :server-items-length="totalPassengers"
        :loading="loading"
        item-key="name"
        class="elevation-1 mt-10"
      >
        <template #top>
          <v-row>
            <v-col
              ><v-text-field
                v-model="search"
                label="ใส่ ID เกมส์"
                class="mx-4"
                style="width: 100%; max-width: 400px"
                @keydown.enter="readDataFromAPI()"
              ></v-text-field
            ></v-col>
          </v-row>
        </template>
        <template #[`item.image`]="item">
          <img :src="item.value" width="150px" alt="" />
        </template>
      </v-data-table>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      addrules: [(v) => !!v || 'จำเป็นต้องใส่'],
      dialog: false,
      create: [],
      search: '',
      page: 1,
      totalPassengers: 0,
      numberOfPages: 0,
      passengers: [],
      loading: true,
      options: {},
      headers: [
        {
          text: 'id',
          value: 'id',
        },
        { text: 'name', value: 'name' },
        { text: 'desktopGameId', value: 'desktopGameId' },
        { text: 'mobileGameId', value: 'mobileGameId' },
        { text: 'desktopGid', value: 'desktopGid' },
        { text: 'mobileGid', value: 'mobileGid' },
        { text: 'isDeleted', value: 'isDeleted' },
        { text: 'createdAt', value: 'createdAt' },
        { text: 'updateAt', value: 'updateAt' },
        { text: 'isNewGame', value: 'isNewGame' },
        { text: 'isHotGame', value: 'isHotGame' },
        { text: 'image', value: 'image' },
      ],
      gameValue: [],
    }
  },
  watch: {
    options: {
      handler() {
        this.readDataFromAPI()
      },
    },
    deep: true,
  },
  methods: {
    ...mapActions({
      getgame: 'update-game-slot/getgame',
      createGame: 'update-game-slot/createGame',
    }),
    async readDataFromAPI() {
      const { page, itemsPerPage } = this.options
      const response = await this.getgame({
        page,
        limit: itemsPerPage,
        company: this.$route.params.company,
        search: this.search,
      })
      if (response === 'Request failed with status code 404') {
        alert('ไม่มีข้อมูลในระบบ')
      }
      this.loading = false
      this.passengers = response.data[`${this.$route.params.company}`]
      this.totalPassengers = response.data.paging.count
      this.numberOfPages = response.data.paging.page
    },
    async sendGame() {
      this.create.push({ company: this.$route.params.company })
      await this.createGame(this.create)
    },
  },
}
</script>
<style>
.v-icon {
  color: #000 !important;
}
</style>
