<template>
  <div>
    <v-dialog v-model="dialog" width="1000">
      <v-col style="width: 100%; height: 100vh; background: red"></v-col>
      <v-btn @click="off(!dialog)">click</v-btn>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: { custom: { type: Boolean } },
  data() {
    return {
      dialog: this.$props.custom,
    }
  },
  watch:{
      custom(dialog){
          this.dialog = dialog
      }
  },
  methods: {
    off(dialog) {
      this.$emit('cutoffdialog', dialog)
    },
  },
}
</script>
