/* https://ableproadmin.com/bootstrap/default/layout-dark.html#! */

body {
  color: #adb7be !important;
}

.v-application a {
  color: #4680ff;
}

.theme--dark.v-app-bar.v-toolbar.v-sheet {
  background-color: #ff5252 !important;
  /* background-color: #ff5252 !important; */
  /* background-image: linear-gradient(to right, #ff5252, #ff0000) !important; */
}

#theme-color button {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

#theme-color button i {
  font-size: 1rem;
}

.theme--dark #theme-color button i {
  color: rgba(255, 255, 255, 0.8) !important;
}

.theme--light #theme-color button i {
  color: rgba(0, 0, 0, 0.8) !important;
}

.v-btn--icon.v-size--default .v-icon,
.v-btn--fab.v-size--default .v-icon {
  position: relative;
  top: 3px;
  font-size: 20px !important;
}

.theme--dark.v-navigation-drawer,
.theme--dark.v-footer {
  background-color: #000 !important;
}

.theme--dark.v-footer {
  background-color: #101b33 !important;
  border-top: 1px solid rgba(151, 167, 193, 0.2);
  border-color: rgba(151, 167, 193, 0.2) !important;
  z-index: 999;
}

.theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  border-top: 1px solid rgba(151, 167, 193, 0.2);
  color: #adb7be !important;
}

.theme--dark.v-list-item:hover {
  background-color: rgb(24, 24, 24);
  color: #ffffff !important;
}

.v-list .v-list-item--active,
.v-list .v-list-item--active:hover {
  background: #ff4242;
  color: #ffffff !important;
  border-radius: 5px;
}

.theme--dark.v-list-item--active:hover::before,
.theme--dark.v-list-item--active::before {
  opacity: 0 !important;
}

.v-list .v-list-item--active i {
  color: #ffffff !important;
}

.theme--dark.v-application {
  background: #060b14 !important;
  color: #adb7be !important;
}

.v-list-item__title {
  font-size: 0.9rem !important;
}

nav.v-navigation-drawer i {
  font-size: 1.2rem !important;
  /* color: #FF0000 !important; */
  color: rgba(255, 255, 255, 0.5) !important;
}

.theme--dark.v-card {
  background-color: #0f192f !important;
  box-shadow: 0 1px 20px 0 rgb(0 0 0 / 8%) !important;
}

.v-card__title.headline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.v-card__title + .v-card__subtitle,
.v-card__title + .v-card__text {
  padding: 1.3rem !important;
}

.text-muted {
  color: #919ea7 !important;
}

.text-primary {
  color: #4680ff !important;
}

.text-success {
  color: #9ccc65 !important;
}

.text-info {
  color: #00bcd4 !important;
}

.text-warning {
  color: #ffba57 !important;
}

.text-danger {
  color: #ff5252 !important;
}

.text-dark {
  color: #343a40 !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #4680ff !important;
  border-color: #4680ff !important;
}
.btn-secondary {
  color: #fff !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}
.btn-success {
  color: #fff !important;
  background-color: #9ccc65 !important;
  border-color: #9ccc65 !important;
}
.btn-danger {
  color: #fff !important;
  background-color: #ff5252 !important;
  border-color: #ff5252 !important;
}
.btn-warning {
  color: #fff !important;
  background-color: #ffba57 !important;
  border-color: #ffba57 !important;
}
.btn-info {
  color: #fff !important;
  background-color: #00acc1 !important;
  border-color: #00acc1 !important;
}
.btn-light {
  color: #212529 !important;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
}
.btn-dark {
  color: #fff !important;
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}
.btn-link {
  font-weight: 400 !important;
  color: #4680ff !important;
  text-decoration: none !important;
}

.bg-success {
  color: #fff;
  background-color: #8ac248;
}
.bg-danger {
    color: #fff;
    background-color: #ff2c2c;
}