<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item router exact to="/">
          <v-list-item-action>
            <v-icon>icofont-dashboard-web</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item router exact to="/summary">
          <v-list-item-action>
            <v-icon>icofont-briefcase</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Summary</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item router exact to="/games-setting">
          <v-list-item-action>
            <v-icon>icofont-ui-game</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Game Setting</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-group no-action>
          <template #activator>
            <v-list-item-action>
              <v-icon>icofont-refresh</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Update Game Slot</v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item to="/update-game-slot/playngo">
            <v-list-item-content>
              <v-list-item-title>Play'N go</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/update-game-slot/dragoon">
            <v-list-item-content>
              <v-list-item-title>Dragoon</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/update-game-slot/joker">
            <v-list-item-content>
              <v-list-item-title>Joker</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-item router exact to="/drill-down">
          <v-list-item-action>
            <v-icon>icofont-money</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Drill Down</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item router exact to="/agents">
          <v-list-item-action>
            <v-icon>icofont-invisible</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Agent</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item router exact to="/login-account">
          <v-list-item-action>
            <v-icon>icofont-users-alt-6</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Sub Account</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item router exact to="/add-cash">
          <v-list-item-action>
            <v-icon>icofont-users-alt-6</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>เติมเงินให้ Agent</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item router exact to="/transaction-agent">
          <v-list-item-action>
            <v-icon>icofont-users-alt-6</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Transaction Agent</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-toolbar-title class="mr-5" v-text="title" />
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-spacer />
      <div>
        <span v-if="getinfo">{{ getinfo.username }}</span>
        <v-btn @click="logout">Logout</v-btn>
      </div>
      <!-- <div id="theme-color">
        <v-tooltip v-if="!$vuetify.theme.dark" bottom>
          <template #activator="{ on }">
            <v-btn color="white" small fab v-on="on" @click="darkMode">
              <v-icon class="mr-1" color="black"
                >mdi-moon-waxing-crescent</v-icon
              >
            </v-btn>
          </template>
          <span>Dark Mode On</span>
        </v-tooltip>

        <v-tooltip v-else bottom>
          <template #activator="{ on }">
            <v-btn color="red" small fab v-on="on" @click="darkMode">
              <v-icon color="white">mdi-white-balance-sunny</v-icon>
            </v-btn>
          </template>
          <span>Dark Mode Off</span>
        </v-tooltip>
      </div> -->
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light> mdi-repeat </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  middleware: 'auth',
  data() {
    return {
      clipped: true,
      drawer: true,
      fixed: false,
      subUpgame: [
        { icon: 'icofont-dashboard-web', title: 'Dashboard', to: '/' },
      ],
      items: [
        {
          icon: 'icofont-dashboard-web',
          title: 'Dashboard',
          to: '/',
        },
        {
          icon: 'icofont-briefcase',
          title: 'Summary',
          to: '/summary',
        },
        {
          icon: 'icofont-ui-game',
          title: 'Game Setting',
          to: '/games-setting',
        },
        {
          icon: 'icofont-refresh',
          title: 'Update Game Slot',
          to: '/update-game-slot',
          sub: 'test',
        },
        {
          icon: 'icofont-money',
          title: 'Drill Down',
          to: '/drill-down',
        },
        {
          icon: 'icofont-invisible',
          title: 'Create Agent',
          to: '/agents',
        },
        {
          icon: 'icofont-users-alt-6',
          title: 'Sub Account',
          to: '/login-account',
        },
        {
          icon: 'icofont-users-alt-6',
          title: 'เติมเงินให้ Agent',
          to: '/add-cash',
        },
        {
          icon: 'icofont-users-alt-6',
          title: 'Transaction Agent',
          to: '/transaction-agent',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Red App',
    }
  },
  computed: {
    ...mapGetters({
      getinfo: 'auth/information',
    }),
  },
  methods: {
    darkMode() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
    },
    ...mapActions({
      logout: 'auth/logout',
    }),
  },
}
</script>
