<template>
  <div>
    <v-row>
      <v-col cols="12" sm="12" md="8">
        <h2 class="text-muted">Add Login Account</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="12" md="8">
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="prefix"
            :counter="20"
            :rules="prefixRules"
            label="Prefix"
            required
          ></v-text-field>

          <v-text-field
            v-model="username"
            :counter="20"
            :rules="usernameRules"
            label="Username"
            required
          ></v-text-field>

          <v-select
            v-model="select"
            :items="roles"
            :rules="[(v) => !!v || 'roles is required']"
            label="Role"
            required
          ></v-select>
          <div class="mt-5">
            <v-btn
              :disabled="!valid"
              color="success"
              class="mr-4"
              @click="submit"
            >
              Add
            </v-btn>

            <v-btn color="error" class="mr-4" @click="reset">
              Reset
            </v-btn>
          </div>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data: () => ({
    valid: true,
    prefix: '',
    prefixRules: [
      (v) => !!v || 'Prefix is required',
      (v) => (v && v.length >= 3) || 'Prefix must be less than 3 characters',
      (v) =>
        (v && v.length <= 20) || 'Prefix must be not more than 20 characters',
    ],
    username: '',
    usernameRules: [
      (v) => !!v || 'Username is required',
      (v) => (v && v.length >= 3) || 'Username must be less than 3 characters',
      (v) =>
        (v && v.length <= 20) || 'Username must be not more than 20 characters',
    ],
    select: null,
    roles: ['Role 1', 'Role 2', 'Role 3', 'Role 4'],
  }),

  methods: {
    submit() {
      if(this.$refs.form.validate()) {
        console.log(this.prefix);
        console.log(this.username);
        console.log(this.select);
        alert('Submitted')
      }
    },
    reset() {
      this.$refs.form.reset()
    },
    resetValidation() {
      this.$refs.form.resetValidation()
    },
  },
}
</script>