<template>
  <v-row>
    <v-col cols="12" sm="12" md="12">
      <v-row>
        <v-col v-for="(n, i) in gameProvider" :key="i" cols="12" sm="6" md="3">
          <v-card class="mx-auto" max-width="98 %">
            <v-card-title class="headline text-primary">
              Game {{ n.name }}
            </v-card-title>
            <v-card-text class="pt-3">
              <div class="text-h6 font-weight-light mb-2">
                <v-switch
                  v-model="n.isOpen"
                  :label="`${n.isOpen ? 'Open' : 'Closed'}`"
                  @click="statusUpdate(n)"
                ></v-switch>
              </div>
              <v-divider class="my-2"></v-divider>
              <v-icon class="mr-2" small> mdi-clock </v-icon>
              <span class="text-caption grey--text font-weight-light"
                >last update 26 minutes ago</span
              >
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data: () => {
    return {
      status: [],
      gameProvider: [],
    }
  },
  computed: {
    ...mapGetters({
      statusgame: 'game-setting/statusgame',
    }),
  },
  async mounted() {
    this.getStatus()
    this.gameProvider = await this.statusgame
  },
  methods: {
    ...mapActions({
      getStatus: 'game-setting/getStatus',
      updateStatus: 'game-setting/updateStatus',
    }),
    async statusUpdate() {
      this.gameProvider.map((res) => {
        res.isOpen = res.isOpen ? 1 : 0
        return res
      })
      await this.updateStatus(this.gameProvider)
      this.getStatus()
    },
  },
}
</script>
