<template>
  <v-row>
    <v-col cols="12" sm="12" md="12">
      <v-card
        class="mx-auto"
        max-width="98 %"
      >
        <v-card-text class="pt-3">
          <div>
            <client-only>
              <apexchart width="100%" height="350" type="bar" :options="chartOptions" :series="series"></apexchart>
            </client-only>
          </div>
          <div class="text-h6 font-weight-light mb-2">
            Report
          </div>
          <div class="subheading font-weight-light grey--text">
            Last Update
          </div>
          <v-divider class="my-2"></v-divider>
          <v-icon
            class="mr-2"
            small
          >
            mdi-clock
          </v-icon>
          <span class="text-caption grey--text font-weight-light">last update 26 minutes ago</span>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    components: {
      apexchart: () => (process.client ?
                        import('vue-apexcharts')
                        : Promise.resolve({ render: (h) => h('div') })),
    },
    data: () => {
      return {
        series: [{
            name: 'Inflation',
            data: [2.3, 3.1, 4.0, 10.1, 4.0, 3.6, 3.2, 2.3, 1.4, 0.8, 0.5, 0.2]
          }],
          chartOptions: {
            chart: {
              height: 350,
              type: 'bar',
            },
            plotOptions: {
              bar: {
                dataLabels: {
                  position: 'top', // top, center, bottom
                },
              },
            },
            fill: {
              // colors: '#FF0000'
            },
            dataLabels: {
              enabled: true,
              formatter: (val) => {
                return val + "%";
              },
              offsetY: -20,
              style: {
                fontSize: '12px',
                colors: ["#FFFFFF"]
              }
            },
            
            xaxis: {  
              categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
              position: 'bottom',
              axisBorder: {
                show: false
              },
              axisTicks: {
                show: false
              },
              crosshairs: {
                fill: {
                  type: 'gradient',
                  gradient: {
                    colorFrom: '#D8E3F0',
                    colorTo: '#BED1E6',
                    stops: [0, 100],
                    opacityFrom: 0.4,
                    opacityTo: 0.5,
                  }
                }
              },
              tooltip: {
                enabled: true,
              }
            },
            yaxis: {
              axisBorder: {
                show: false
              },
              axisTicks: {
                show: false,
              },
              labels: {
                show: false,
                formatter: (val) => {
                  return val + "%";
                }
              }
            
            },
            title: {
              text: 'Yearly, 2021',
              floating: true,
              offsetY: 330,
              align: 'center',
              style: {
                color: '#444'
              }
            }
          },
      }
    },
  }
</script>