<template>
  <div>
    <v-row>
      <v-col cols="12" sm="12" md="6">
        <h2 class="text-muted">Login Account</h2>
      </v-col>
      <v-col cols="12" sm="12" md="6" class="text-right">
        <v-btn color="primary" @click="addAgent()">
          <i class="icofont-plus mr-1"></i> Add Sub Account
        </v-btn>
      </v-col>
    </v-row>
    <v-data-table
      :headers="headers"
      :items="agentsList"
      item-key="agent"
      :page.sync="currentPage"
      :items-per-page="15"
      :loading="chkLoading"
      loading-text="Loading... Please wait"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-text-field
          v-model="search"
          label="Search"
          class="mx-4"
        ></v-text-field>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          color="orange"
          small
          class="mr-2"
          @click="editItem(item.member, item.contact)"
        >
          mdi-pencil
        </v-icon>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      agentsList: [],
      chkLoading: true,
      headers: [
        { text: 'ID', value: 'id' },
        { text: 'Firstname', value: 'first_name' },
        { text: 'Lastname', value: 'last_name' },
        { text: 'Email', value: 'email' },
        { text: 'Gender', value: 'gender' },
        { text: 'IP Address', value: 'ip_address' },
        { text: 'Actions', align: 'center', value: 'actions' },
      ],
      paginateShow: true,
      agetnsList: [],
      currentPage: 1,
      totalPage: 0,
    }
  },
  computed: {
    ...mapGetters({
      getAgentsList: 'agents/getAgentsList',
    }),
  },
  mounted() {
    this.initailData()
  },
  methods: {
    ...mapActions({
      setAgentsList: 'agents/setAgentsList',
    }),
    async initailData() {
      const data = await this.setAgentsList()
      this.loopData(data)
      this.chkLoading = false
    },
    loopData(data) {
      const jsonObj = []
      let item = {}
      let i = 0

      for (i = 0; i < data.length; i++) {
        item = {}
        item.id = data[i].id
        item.first_name = data[i].first_name
        item.last_name = data[i].last_name
        item.email = data[i].email
        item.gender = data[i].gender
        item.ip_address = data[i].ip_address
        jsonObj.push(item)
      }
      this.agentsList = jsonObj
    },
    addAgent() {
      location.href = "/add-sub-account"
    },
  },
}
</script>