<template>
  <div>
    <v-snackbar v-model="snackja" right top> {{ textsnack }}</v-snackbar>
    <v-col
      cols="12"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #ff5252;
      "
    >
      <v-col lg="3" xs="12" sm="12" style="border: 1.5px solid #000">
        <h3
          style="
            color: #000;
            text-transform: uppercase;
            text-align: center;
            font-size: 2em;
            font-weight: 200;
          "
        >
          Login Red App
        </h3>
        <v-form>
          <v-text-field
            v-model="formlogin.username"
            label="U    sername"
            required
          ></v-text-field>
          <v-text-field
            v-model="formlogin.password"
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show1 ? 'text' : 'password'"
            name="input-10-1"
            label="Password"
            @click:append="show1 = !show1"
            @keydown.enter.prevent="getlogin()"
          ></v-text-field>
          <v-btn
            style="
              float: right;
              border-radius: 0;
              background: #000;
              color: #fff;
            "
            @click="getlogin()"
            >Login</v-btn
          >
        </v-form>
      </v-col>
    </v-col>
  </div>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  layout: 'login',
  data() {
    return {
      show1: false,
      formlogin: {},
      snackja: false,
      textsnack: '',
    }
  },
  methods: {
    ...mapActions({
      login: 'auth/login',
    }),
    async getlogin() {
      //   try {
      //   const res = await this.login(this.formlogin)
      //   console.log(res);
      //   } catch (error) {

      //   }
      const res = await this.login(this.formlogin)
      if (res === 'Request failed with status code 401') {
        this.snackja = true
        this.textsnack = 'Username หรือ Password ไม่ถูกต้อง'
      }
    },
  },
}
</script>
