<template>
  <div>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <h2 class="text-muted">Summary</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <v-card class="mx-auto">
          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                v-model="agent"
                :rules="agentRules"
                label="Agent"
                required
              ></v-text-field>

              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-menu
                    v-model="menu_start_date"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="start_date"
                        label="Start Date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="start_date"
                      @input="menu_start_date = false"
                    ></v-date-picker>
                  </v-menu>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-menu
                    v-model="menu_end_date"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="end_date"
                        label="End Date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="end_date"
                      @input="menu_end_date = false"
                    ></v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>

              <div class="mt-2">
                <v-btn
                  :disabled="!valid"
                  class="mr-4 btn-primary"
                  @click="submit"
                >
                  Search
                </v-btn>

                <v-btn color="error" class="mr-4" @click="reset"> Reset </v-btn>
              </div>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <v-simple-table>
          <template v-slot:default>
            <tbody>
              <tr>
                <td class="text-center bg-success">Deposit: 0.00</td>
                <td class="text-center bg-danger">Withdraw: 0.00</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
        <v-simple-table class="mt-1">
          <template v-slot:default>
            <thead>
              <tr class="grey darken-3">
                <th class="text-center">Type</th>
                <th class="text-center">ยอดแทงรวม</th>
                <th class="text-center">ยอดลูกค้าชนะ</th>
                <th class="text-center">Win/Loss</th>
                <th class="text-center">%</th>
                <th class="text-center">ถือสู้</th>
                <th class="text-center">แบ่งเข้าบริษัท (%)</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in drillDownList" :key="item.type">
                <td class="text-center">{{ item.type }}</td>
                <td class="text-center">{{ item.total_bet }}</td>
                <td class="text-center">{{ item.total_win }}</td>
                <td class="text-center">{{ item.total_loss }}</td>
                <td class="text-center">{{ item.percent }}</td>
                <td class="text-center">{{ item.total }}</td>
                <td class="text-center">{{ item.percent_diff }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="grey darken-3">
                <td class="text-center">TOTAL</td>
                <td class="text-center">0.00</td>
                <td class="text-center">0.00</td>
                <td colspan="4"></td>
              </tr>
            </tfoot>
          </template>
        </v-simple-table>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data: () => ({
    start_date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    end_date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    menu_start_date: false,
    menu_end_date: false,
    valid: true,
    agent: '',
    agentRules: [(v) => !!v || 'Agent is required'],
    drillDownList: [],
  }),
  computed: {
    ...mapGetters({
      getDrillDownList: 'drill-down/getDrillDownList',
    }),
  },
  mounted() {
    this.initailData()
  },
  methods: {
    ...mapActions({
      setDrillDownList: 'drill-down/setDrillDownList',
    }),
    submit() {
      if (this.$refs.form.validate()) {
        console.log(this.agent)
        console.log(this.start_date)
        console.log(this.end_date)
        alert('Submitted')
      }
    },
    reset() {
      this.$refs.form.reset()
    },
    resetValidation() {
      this.$refs.form.resetValidation()
    },
    async initailData() {
      const data = await this.setDrillDownList()
      this.loopData(data)
      this.chkLoading = false
    },
    loopData(data) {
      const jsonObj = []
      let item = {}
      let i = 0

      for (i = 0; i < data.length; i++) {
        item = {}
        item.type = data[i].type
        item.total_bet = data[i].total_bet
        item.total_win = data[i].total_win
        item.total_loss = data[i].total_loss
        item.percent = data[i].percent
        item.total = data[i].total
        item.percent_diff = data[i].percent_diff
        jsonObj.push(item)
      }
      this.drillDownList = jsonObj
    },
  },
}
</script>