<template>
  <v-col style="padding: 15px">
    <v-col style="background: #c5c5c5; width: 100%; border-radius: 5px">
      <v-card style="border-radius: 5px">
        <v-card-title>
          <h3>Transactions</h3>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" width="800">
            <template #activator="{ on, attrs }">
              <v-icon style="margin: 0 10px 0 0" v-bind="attrs" v-on="on"
                >icofont-search-2</v-icon
              >
            </template>
           <v-col style="width:100%;background:#fff">
               Filter Transaction
               <v-col>
                    <v-icon color="#000">icofont-close-squared-alt</v-icon>
               </v-col>

           </v-col>
          </v-dialog>

          <v-icon style="margin: 0 10px 0 10px">icofont-refresh</v-icon>
        </v-card-title>
        <v-data-table :headers="headers" :items="item"></v-data-table>
      </v-card>
    </v-col>
  </v-col>
</template>
<script>
export default {
  data() {
    return {
      dialog: false,
      search: '',
      headers: [
        {
          text: 'ID',
          value: 'id',
        },
        { text: 'Name', value: 'name' },
        { text: 'Type', value: 'type' },
        { text: 'Info', value: 'info' },
        { text: 'Values', value: 'values' },
        { text: 'C.Wallet', value: 'wallet' },
        { text: 'Data Time', value: 'datetime' },
      ],
      item: [
        {
          id: 'Frozen Yogurt',
          name: 159,
          type: 6.0,
          info: 24,
          values: 4.0,
          wallet: '1%',
          datetime: '1%',
        },
        {
          id: 'Ice cream sandwich',
          name: 237,
          type: 9.0,
          info: 37,
          values: 4.3,
          wallet: '1%',
          datetime: '1%',
        },
        {
          id: 'Eclair',
          name: 262,
          type: 16.0,
          info: 23,
          values: 6.0,
          wallet: '7%',
          datetime: '7%',
        },
      ],
    }
  },
}
</script>
