<template>
  <div>
    <v-snackbar v-model="snackAddagent" right top> {{ textalert }}</v-snackbar>
    <v-row>
      <v-col cols="12" sm="12" md="8">
        <h2 class="text-muted">Add Agent</h2>
      </v-col>
    </v-row>
    <v-row style="padding: 20px">
      <v-col cols="12" sm="12" md="8" style="padding: 10px">
        <v-form ref="form">
          <v-row>
            <v-col lg="4" xs="12">
              <v-text-field
                v-model="agentCreate.username"
                label="Username"
                required
              ></v-text-field
            ></v-col>
            <v-col lg="4" cols="12" xs="12">
              <v-text-field v-model="agentCreate.name" label="name" required>
              </v-text-field>
            </v-col>
            <v-col lg="4" cols="12" xs="12">
              <v-text-field
                v-model="agentCreate.prefixName"
                label="prefixName"
                required
              ></v-text-field>
            </v-col>
            <v-col lg="4" cols="12" xs="12">
              <v-text-field
                v-model="agentCreate.credit"
                type="number"
                label="credit"
                required
              ></v-text-field>
            </v-col>
            <v-col lg="4" cols="12" xs="12">
              <v-text-field
                v-model="agentCreate.shared"
                type="number"
                label="shared"
                required
              ></v-text-field>
            </v-col>
            <v-col lg="4" cols="12" xs="12">
              <v-text-field
                v-model="agentCreate.currencyId"
                type="number"
                label="currencyId"
                required
              ></v-text-field>
            </v-col>
            <v-col lg="4" cols="12" xs="12">
              <v-text-field
                v-model="agentCreate.commission"
                type="number"
                label="commission"
                required
              ></v-text-field>
            </v-col>
            <v-col lg="4" cols="12" xs="12">
              <v-text-field
                v-model="agentCreate.CommissionSlot"
                type="number"
                label="CommissionSlot"
                required
              ></v-text-field>
            </v-col>
            <v-col lg="4" cols="12" xs="12">
              <v-text-field
                v-model="agentCreate.minBet"
                type="number"
                label="minBet"
                required
              ></v-text-field
            ></v-col>
            <v-col lg="4" cols="12" xs="12">
              <v-text-field
                v-model="agentCreate.maxBet"
                type="number"
                label="maxBet"
                required
              ></v-text-field>
            </v-col>
            <v-col lg="4" cols="12" xs="12">
              <v-text-field
                v-model="agentCreate.chipList"
                label="chipList"
                required
              ></v-text-field>
            </v-col>
            <v-col lg="4" cols="12" xs="12">
              <v-text-field
                v-model="agentCreate.commissionSport"
                type="number"
                label="commissionSport"
                required
              ></v-text-field>
            </v-col>
            <v-col lg="4" xs="12">
              <v-switch
                v-model="agentCreate.slotDisable"
                label="Slot Disable"
              ></v-switch>
            </v-col>
            <v-col lg="4" xs="12">
              <v-switch
                v-model="agentCreate.sportDisable"
                label="Slot Disable"
              ></v-switch
            ></v-col>
            <v-col lg="4" xs="12">
              <v-switch
                v-model="agentCreate.casinoDisable"
                label="Slot Disable"
              ></v-switch>
            </v-col>
            <v-col lg="12" cols="12" xs="12">
              <h3>Vendor Shared</h3>
              <v-row>
                <v-col lg="4" cols="12" xs="12">
                  <v-text-field
                    v-model="agentCreate.casino_star"
                    type="number"
                    label="casino_star"
                    required
                  ></v-text-field>
                </v-col>
                <v-col lg="4" cols="12" xs="12">
                  <v-text-field
                    v-model="agentCreate.slot_play_n_go"
                    type="number"
                    label="slot_play_n_go"
                    required
                  ></v-text-field>
                </v-col>
                <v-col lg="4" cols="12" xs="12">
                  <v-text-field
                    v-model="agentCreate.slot_dragoon"
                    type="number"
                    label="slot_dragoon"
                    required
                  ></v-text-field>
                </v-col>
                <v-col lg="4" cols="12" xs="12">
                  <v-text-field
                    v-model="agentCreate.casino_sbo"
                    type="number"
                    label="casino_sbo"
                    required
                  ></v-text-field>
                </v-col>
                <v-col lg="4" cols="12" xs="12">
                  <v-text-field
                    v-model="agentCreate.sport_sbo"
                    type="number"
                    label="sport_sbo"
                    required
                  ></v-text-field>
                </v-col>
                <v-col lg="4" cols="12" xs="12">
                  <v-text-field
                    v-model="agentCreate.casino_sa"
                    type="number"
                    label="casino_sa"
                    required
                  ></v-text-field>
                </v-col>
                <v-col lg="4" cols="12" xs="12">
                  <v-text-field
                    v-model="agentCreate.fishing_dragoon"
                    type="number"
                    label="fishing_dragoon"
                    required
                  ></v-text-field>
                </v-col>
                <v-col lg="4" cols="12" xs="12">
                  <v-text-field
                    v-model="agentCreate.slot_joker"
                    type="number"
                    label="slot_joker"
                    required
                  ></v-text-field>
                </v-col>
                <v-col lg="4" cols="12" xs="12">
                  <v-text-field
                    v-model="agentCreate.fishing_joker"
                    type="number"
                    label="fishing_joker"
                    required
                  ></v-text-field>
                </v-col>
                <v-col lg="4" cols="12" xs="12">
                  <v-text-field
                    v-model="agentCreate.casino_gd88"
                    type="number"
                    label="casino_gd88"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <div class="mt-5">
            <v-btn color="success" class="mr-4" @click="addAgent()">
              Add
            </v-btn>
            <v-btn color="error" class="mr-4" @click="reset"> Reset </v-btn>
          </div>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data: () => ({
    textalert: '',
    snackAddagent: false,
    agentCreate: {},
    show1: false,
    valid: true,
    prefix: '',
    prefixRules: [
      (v) => !!v || 'Prefix is required',
      (v) => (v && v.length >= 3) || 'Prefix must be less than 3 characters',
      (v) =>
        (v && v.length <= 20) || 'Prefix must be not more than 20 characters',
    ],
    username: '',
    usernameRules: [
      (v) => !!v || 'Username is required',
      (v) => (v && v.length >= 3) || 'Username must be less than 3 characters',
      (v) =>
        (v && v.length <= 20) || 'Username must be not more than 20 characters',
    ],
    select: null,
    roles: ['Role 1', 'Role 2', 'Role 3', 'Role 4'],
  }),

  methods: {
    ...mapActions({
      setAgentsList: 'agents/setAgentsList',
      createAgent: 'agents/createAgent',
    }),
    // submit() {
    //   if (this.$refs.form.validate()) {
    //     console.log(this.prefix)
    //     console.log(this.username)
    //     console.log(this.select)
    //     alert('Submitted')
    //   }
    // },
    async addAgent() {
      const data = {
        username: this.agentCreate.username,
        name: this.agentCreate.name,
        prefixName: this.agentCreate.prefixName,
        credit: parseFloat(this.agentCreate.credit),
        shared: parseFloat(this.agentCreate.shared),
        currencyId: parseFloat(this.agentCreate.currencyId),
        commission: parseFloat(this.agentCreate.commission),
        CommissionSlot: parseFloat(this.agentCreate.CommissionSlot),
        slotDisable: this.agentCreate.slotDisable ? 1 : 0,
        sportDisable: this.agentCreate.sportDisable ? 1 : 0,
        casinoDisable: this.agentCreate.casinoDisable ? 1 : 0,
        minBet: parseFloat(this.agentCreate.minBet),
        maxBet: parseFloat(this.agentCreate.maxBet),
        chipList: this.agentCreate.chipList,
        commissionSport: parseFloat(this.agentCreate.commissionSport),
        vendorShared: {
          casino_star: parseFloat(this.agentCreate.casino_star),
          slot_play_n_go: parseFloat(this.agentCreate.slot_play_n_go),
          slot_dragoon: parseFloat(this.agentCreate.slot_dragoon),
          casino_sbo: parseFloat(this.agentCreate.casino_sbo),
          sport_sbo: parseFloat(this.agentCreate.sport_sbo),
          casino_sa: parseFloat(this.agentCreate.casino_sa),
          fishing_dragoon: parseFloat(this.agentCreate.fishing_dragoon),
          slot_joker: parseFloat(this.agentCreate.slot_joker),
          fishing_joker: parseFloat(this.agentCreate.fishing_joker),
          casino_gd88: parseFloat(this.agentCreate.casino_gd88),
        },
      }
      const res = await this.createAgent(data)
      if (res.success) {
        this.textalert = 'เพิ่มข้อมูลสำเร็จ'
        this.snackAddagent = true
      } else {
        this.textalert = 'เพิ่มข้อมูลไม่สำเร็จ'
        this.snackAddagent = true
      }
    },
    reset() {
      this.$refs.form.reset()
    },
    resetValidation() {
      this.$refs.form.resetValidation()
    },
  },
}
</script>
<style>
label {
  color: #fff !important;
}
.v-input__slot::before {
  border-color: #fff !important;
}
.v-icon {
  color: #fff !important;
}

</style>
