<template>
  <div>
    <v-snackbar v-model="snackAddagent" right top> {{ textalert }}</v-snackbar>
    <v-row>
      <v-col cols="12" sm="12" md="6">
        <h2 class="text-muted">Agents</h2>
      </v-col>
      <v-col cols="12" sm="12" md="6" class="text-right">
        <v-btn color="primary" to="/agents/add-agent">
          <i class="icofont-plus mr-1" style="color: #fff"></i
          ><span style="color: #fff">ADD AGENT</span>
        </v-btn>
      </v-col>
    </v-row>
    <v-data-table
      :header-props="{sortIcon: null}"
      :headers="headers"
      :items="passengers"
      :page="page"
      :page-count="numberOfPages"
      :options.sync="options"
      :server-items-length="totalPassengers"
      :loading="loading"
      item-key="name"
      class="elevation-1 mt-10"
    >
      <template #top>
        <v-row>
          <v-col
            ><v-text-field
              v-model="search"
              label="ใส่ ID เกมส์"
              style="width: 100%; max-width: 400px"
              class="mx-4"
              @keydown.enter="readDataFromAPI()"
            ></v-text-field
          ></v-col>
        </v-row>
      </template>
      <template #[`item.addcash`]>
        <v-icon
          style="background: green; border-radius: 50%; padding: 6px"
          color="#fff"
          small
          circle
          class="mr-2"
        >
          icofont-dollar
        </v-icon>
      </template>
      <template #[`item.edit`]="item">
        <v-dialog width="800">
          <template #activator="{ on, attrs }">
            <i
              class="icofont-edit"
              style="font-size: 25px"
              v-bind="attrs"
              v-on="on"
              @click="getInfo(item.item.id)"
            ></i>
          </template>
          <v-card>
            <v-card-title class="text-h5 primary lighten-2">
              Edit
            </v-card-title>

            <v-card-text>
              <v-form>
                <v-row>
                  <v-col lg="4" xs="6">
                    <h2>Name</h2>
                    <v-text-field v-model="informationForEdit.name"></v-text-field>
                  </v-col>
                  <v-col lg="4" xs="6">
                    <h2>Credit</h2>
                    <v-text-field  v-model="informationForEdit.credit" type="text" />
                  </v-col>
                  <v-col lg="4" xs="6">
                    <h2>Shared</h2>
                    <v-text-field  v-model="informationForEdit.shared" type="text" />
                  </v-col>
                  <v-col lg="4" xs="6">
                    <h2>Commission</h2>
                    <v-text-field  v-model="informationForEdit.commission" type="text" />
                  </v-col>
                  <v-col lg="4" xs="6">
                    <h2>commissionSlot</h2>
                    <v-text-field  v-model="informationForEdit.commissionSlot" type="text" />
                  </v-col>
                  <v-col lg="4" xs="6">
                    <h2>minBet</h2>
                    <v-text-field  v-model="informationForEdit.minBet" type="text" />
                  </v-col>
                  <v-col lg="4" xs="6">
                    <h2>maxBet</h2>
                    <v-text-field  v-model="informationForEdit.maxBet" type="text" />
                  </v-col>
                  <v-col lg="4" xs="6">
                    <h2>chipList</h2>
                    <v-text-field  v-model="informationForEdit.chipList" type="text" />
                  </v-col>
                  <v-col lg="4" xs="6">
                    <h2>commissionSport</h2>
                    <v-text-field  v-model="informationForEdit.commissionSport" type="text" />
                  </v-col>
                  <v-col lg="4" xs="6">
                    <v-switch
                      v-model="informationForEdit.slotDisable"
                      label="Slot Disable"
                    ></v-switch>
                  </v-col>
                  <v-col lg="4" xs="6">
                    <v-switch
                      v-model="informationForEdit.sportDisable"
                      label="sportDisable"
                    ></v-switch>
                  </v-col>
                  <v-col lg="4" xs="6">
                    <v-switch
                      v-model="informationForEdit.casinoDisable"
                      label="casinoDisable"
                    ></v-switch>
                  </v-col>
                  <v-col cols="12">
                    <h2>Vendor Shared</h2>
                    <v-row v-if="informationForEdit.vendorShared">
                      <v-col lg="4" xs="6" >
                        <h3>casino_star</h3>
                        <v-text-field 
                          v-model="informationForEdit.vendorShared.casino_star"
                          type="text"
                        />
                      </v-col>
                      <v-col lg="4" xs="6">
                        <h3>slot_play_n_go</h3>
                        <v-text-field 
                          v-model="informationForEdit.vendorShared.slot_play_n_go"
                          type="text"
                        />
                      </v-col>
                      <v-col lg="4" xs="6">
                        <h3>slot_dragoon</h3>
                        <v-text-field 
                          v-model="informationForEdit.vendorShared.slot_dragoon"
                          type="text"
                        />
                      </v-col>
                      <v-col lg="4" xs="6">
                        <h3>casino_sbo</h3>
                        <v-text-field 
                          v-model="informationForEdit.vendorShared.casino_sbo"
                          type="text"
                        />
                      </v-col>
                      <v-col lg="4" xs="6">
                        <h3>sport_sbo</h3>
                        <v-text-field 
                          v-model="informationForEdit.vendorShared.sport_sbo"
                          type="text"
                        />
                      </v-col>
                      <v-col lg="4" xs="6">
                        <h3>casino_sa</h3>
                        <v-text-field 
                          v-model="informationForEdit.vendorShared.casino_sa"
                          type="text"
                        />
                      </v-col>
                      <v-col lg="4" xs="6">
                        <h3>fishing_dragoon</h3>
                        <v-text-field 
                          v-model="informationForEdit.vendorShared.fishing_dragoon"
                          type="text"
                        />
                      </v-col>
                      <v-col lg="4" xs="6">
                        <h3>slot_joker</h3>
                        <v-text-field 
                          v-model="informationForEdit.vendorShared.slot_joker"
                          type="text"
                        />
                      </v-col>
                      <v-col lg="4" xs="6">
                        <h3>fishing_joker</h3>
                        <v-text-field 
                          v-model="informationForEdit.vendorShared.fishing_joker"
                          type="text"
                        />
                      </v-col>
                      <v-col lg="4" xs="6">
                        <h3>casino_gd88</h3>
                        <v-text-field 
                          v-model="informationForEdit.vendorShared.casino_gd88"
                          type="text"
                        />
                      </v-col>
                    </v-row>
                    <v-col style="padding: 16px 0 16px 0">
                      <v-btn
                        color="#ff0000"
                        style="border-radius: 0; color: #fff"
                        @click="edit(informationForEdit)"
                        >Edit</v-btn
                      >
                    </v-col>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>
      </template>
      <template #[`item.detail`]="item">
        <v-dialog width="800">
          <template #activator="{ on, attrs }">
            <i
              class="icofont-id-card"
              style="font-size: 25px"
              v-bind="attrs"
              v-on="on"
            ></i>
          </template>
          <v-card>
            <v-card-title class="text-h5 primary lighten-2">
              Detail
            </v-card-title>

            <v-card-text>
              <v-row>
                <v-col lg="4" xs="6">
                  <h2>Username</h2>
                  <span>{{ item.item.username }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>Name</h2>
                  <span>{{ item.item.name }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>Prefixname</h2>
                  <span>{{ item.item.prefixName }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>Credit</h2>
                  <span>{{ item.item.credit }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>Shared</h2>
                  <span>{{ item.item.shared }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>CurrencyId</h2>
                  <span>{{ item.item.currencyId }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>MaxMember</h2>
                  <span>{{ item.item.maxMember }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>MasterAgentId</h2>
                  <span>{{ item.item.masterAgentId }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>isDeleted</h2>
                  <span>{{ item.item.isDeleted }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>financialId</h2>
                  <span>{{ item.item.financialId }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>createdAt</h2>
                  <span>{{ item.item.createdAt }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>updatedAt</h2>
                  <span>{{ item.item.updatedAt }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>commission</h2>
                  <span>{{ item.item.commission }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>starPoint</h2>
                  <span>{{ item.item.starPoint }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>commissionSlot</h2>
                  <span>{{ item.item.starPoint }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>starPointSlot</h2>
                  <span>{{ item.item.starPoint }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>maximumShare</h2>
                  <span>{{ item.item.starPoint }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>slotDisable</h2>
                  <span>{{ item.item.starPoint }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>sportDisable</h2>
                  <span>{{ item.item.starPoint }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>casinoDisable</h2>
                  <span>{{ item.item.starPoint }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>minBet</h2>
                  <span>{{ item.item.starPoint }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>maxBet</h2>
                  <span>{{ item.item.starPoint }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>chipList</h2>
                  <span>{{ item.item.chipList }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>commissionSport</h2>
                  <span>{{ item.item.commissionSport }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>starPointSport</h2>
                  <span>{{ item.item.starPointSport }}</span>
                </v-col>
                <v-col lg="4" xs="6">
                  <h2>agent</h2>
                  <span>{{ item.item.agent }}</span>
                </v-col>
                <v-col cols="12">
                  <h2>vendorShared</h2>
                  <v-row>
                    <v-col lg="4" xs="6">
                      <h3>casino_star</h3>
                      <span>{{ item.item.vendorShared.casino_star }}</span>
                    </v-col>
                    <v-col lg="4" xs="6">
                      <h3>slot_play_n_go</h3>
                      <span>{{ item.item.vendorShared.slot_play_n_go }}</span>
                    </v-col>
                    <v-col lg="4" xs="6">
                      <h3>slot_dragoon</h3>
                      <span>{{ item.item.vendorShared.slot_dragoon }}</span>
                    </v-col>
                    <v-col lg="4" xs="6">
                      <h3>casino_sbo</h3>
                      <span>{{ item.item.vendorShared.casino_sbo }}</span>
                    </v-col>
                    <v-col lg="4" xs="6">
                      <h3>sport_sbo</h3>
                      <span>{{ item.item.vendorShared.sport_sbo }}</span>
                    </v-col>
                    <v-col lg="4" xs="6">
                      <h3>casino_sa</h3>
                      <span>{{ item.item.vendorShared.casino_sa }}</span>
                    </v-col>
                    <v-col lg="4" xs="6">
                      <h3>fishing_dragoon</h3>
                      <span>{{ item.item.vendorShared.fishing_dragoon }}</span>
                    </v-col>
                    <v-col lg="4" xs="6">
                      <h3>slot_joker</h3>
                      <span>{{ item.item.vendorShared.slot_joker }}</span>
                    </v-col>
                    <v-col lg="4" xs="6">
                      <h3>fishing_joker</h3>
                      <span>{{ item.item.vendorShared.fishing_joker }}</span>
                    </v-col>
                    <v-col lg="4" xs="6">
                      <h3>casino_gd88</h3>
                      <span>{{ item.item.vendorShared.casino_gd88 }}</span>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" text> I accept </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      informationForEdit:{},
      dialogEdit: false,
      agentsList: [],
      chkLoading: true,
      search: '',
      page: 1,
      totalPassengers: 0,
      numberOfPages: 0,
      passengers: [],
      loading: true,
      options: {},
      headers: [
        {
          text: 'id',
          value: 'id',
        },
        { text: 'username', value: 'username' },
        { text: 'name', value: 'name' },
        { text: 'credit', value: 'credit' },
        { text: 'shared', value: 'shared' },
        { text: 'currencyId', value: 'currencyId' },
        { text: 'isDeleted', value: 'isDeleted' },
        { text: 'Add Cash', value: 'addcash' },
        { text: 'Edit', value: 'edit' },
        { text: 'Detail', value: 'detail' },
      ],
      textalert: '',
      snackAddagent: false,
    }
  },
  computed: {
    // ...mapGetters({
    //   getAgentsList: 'agents/getAgentsList',
    // }),
  },

  watch: {
    options: {
      handler() {
        this.readDataFromAPI()
      },
    },
    deep: true,
  },
  mounted() {
    this.readDataFromAPI()
  },
  methods: {
    ...mapActions({
      setAgentsList: 'agents/setAgentsList',
      editAgent: 'agents/editAgent',
      infoEdit: 'agents/infoEdit',
    }),
    addAgent() {
      location.href = '/add-agent'
    },
    async readDataFromAPI() {
      const { page, itemsPerPage } = this.options
      const response = await this.setAgentsList({
        page,
        limit: itemsPerPage,
        search: this.search,
      })
      this.loading = false
      this.passengers = response.data.agnets
      this.totalPassengers = response.data.paging.count
      this.numberOfPages = response.data.paging.page
    },
    async edit(data) {
      const res = await this.editAgent(data)
      if (res.success) {
        this.textalert = 'แก้ไขสำเร็จ'
        this.readDataFromAPI()
        this.snackAddagent = true
      }
    },
  async getInfo(data){
     const res= await this.infoEdit(data)
     this.informationForEdit = res.data
    }
  },
}
</script>
<style>
input {
  padding: 10px;
}
</style>
